* {
    background-color: rgb(226, 226, 226);
}


.card-container {
    height: 600px;
    width: 1000px;
    border: 2px solid red;
}

.card {
    height: 200px;
    width: 200px;
    border: 2px solid green;

}


.add-book-button {
    margin-top: 30px;
    background-color: rgb(72, 137, 181);
    border-radius: 10px;
    height: 40px;
    width: 80px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    /* left: 0;
    top: 0; */
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    background-color: blue;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

